/* styles.css */

* {
    color: #31032a;
    background-color: #eed8cd;
/*    outline: 2px solid green; */
}

#titre {
    color: #b5137b;
    background-color: #fde325;
    padding: 10px;
    border: 2px solid #b5137b;
    margin: 60px;
    text-align: center;
}


	   
